.table th,
.table td {
  vertical-align: middle;
  min-width: 100px;
}

.table th {
  background-color: #343a40;
  color: white;
  font-weight: 500;
}
.addtable th{
  background-color: #5c9ddd;
  color: white;
  font-weight: 500;
}
.table input {
  font-size: 0.9rem;
}

.btn-success {
  font-weight: 500;
  letter-spacing: 0.5px;
}

.table {
  margin-top: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
